{% extends 'base.html.twig' %}

{% block title %}miAlameda{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #carouselMiAlameda,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active {
            height: 100vh;
        }

        .carousel-item:nth-child(1) {
            background-image: url('{{ asset('image/scene-01.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;

            background-position: center center;
        }

        .carousel-item:nth-child(2) {
            background-image: url('{{ asset('image/scene-02.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        @media (min-width: 992px) {
            #carouselMiAlameda {
                margin-top: -58.59px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div id="carouselMiAlameda" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">

                {#                <img src="{{ asset('image/scene-01.jpg') }}" class="d-block w-100" alt="miAlameda"> #}
            </div>

            <div class="carousel-item">
                {#                <img src="{{ asset('image/scene-02.jpg') }}" class="d-block w-100" alt="miAlameda"> #}
            </div>

        </div>
    </div>
{% endblock %}
