{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>DateOfBirthAt</th>
                <td>{{ member.dateOfBirthAt ? member.dateOfBirthAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ member.sex }}</td>
            </tr>
            <tr>
                <th>LongAgo</th>
                <td>{{ member.longAgo }}</td>
            </tr>
            <tr>
                <th>IsParticipateSmallGroup</th>
                <td>{{ member.isParticipateSmallGroup ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>SmallGroupName</th>
                <td>{{ member.smallGroupName }}</td>
            </tr>
            <tr>
                <th>SmallGroupGuide</th>
                <td>{{ member.smallGroupGuide }}</td>
            </tr>
            <tr>
                <th>IsServeChurch</th>
                <td>{{ member.isServeChurch ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>WhereServeChurch</th>
                <td>{{ member.whereServeChurch }}</td>
            </tr>
            <tr>
                <th>TradeProfession</th>
                <td>{{ member.tradeProfession }}</td>
            </tr>
            <tr>
                <th>WorkExperience</th>
                <td>{{ member.workExperience }}</td>
            </tr>
            <tr>
                <th>ArtisticSkills</th>
                <td>{{ member.artisticSkills }}</td>
            </tr>
            <tr>
                <th>CurrentOccupation</th>
                <td>{{ member.currentOccupation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
